* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ID*/

#TextoFinal {
    font-family: 'Arial', sans-serif;
    color: grey;
}

.lead {
    font-family: 'Arial', sans-serif;
    color: grey;
}
/*Element*/
body {
    background-color: #f0f0f0;
}

/* Group */
h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/*Class*/
body.titulo {
    font-family: 'Arial', sans-serif;
    color: black;
    text-align: center;
    margin-top: 20px;
}

/*Child*/
section.valoraciones > div > div > div h3 {
    font-family: 'Times New Roman', sans-serif;
}

/*Combined*/
p.textosValoraciones::first-letter {
    font-weight: bold;
}

.amd-radeon-section {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../img/amd.png') no-repeat center center;
        min-height: 70vh;
}

/*Attribute*/
img[src = "img/laptopGamer.png"] {
    border: 2px solid black;
}


